<h1>Hello PrimeNG</h1>

<div class="p-grid">
  <div class=" p-sm-4 p-col-6 div-bdy b-clr">
    small Device :  1/3 OR 4/12
    <br>
    mobile Device : 1/2 OR 6/12 
  </div>
  <div  class="p-sm-4 p-col-6 div-bdy brn-clr">
    small Device :  1/3 OR 4/12
    <br>
    mobile Device : 1/2 OR 6/12
  </div>
  <div  class="p-sm-4 p-col-12 div-bdy crn-clr">
    small Device :  1/3 OR 4/12
    <br>
    mobile Device : 1/1 OR 12/12

  </div>
</div>
<div class="p-grid">
  <div class="p-sm-3 p-col-6  div-bdy b-clr">
    small Device :  1/4 OR 3/12
    <br>
    mobile Device : 1/2 OR 6/12
  </div>
  <div  class="p-sm-3  p-col-6  div-bdy brn-clr">
    small Device :  1/4 OR 3/12
    <br>
    mobile Device : 1/2 OR 6/12
  </div>
  <div  class="p-sm-6 p-col-12  div-bdy crn-clr">
    small Device :  2/4 OR 6/12
    <br>
    mobile Device : 1/1 OR 12/12
  </div>
</div>



<router-outlet></router-outlet>